
.tree-animate {
	.first-blob, .second-blob, .third-blob {
		height:25%;
		opacity:1;
	}
	.trunk {
		height:15%;
		opacity:1;
	}
	.circle {
		opacity:1;
	}
}


.round-tree-animate {
	.second-blob {
		height:20%;
	}
	.third-blob {
		height:30%;
	}
	.trunk {
		height:25%;
		opacity: 1;
	}
	.circle {
		opacity:1;
	}
}