/* new map */
.new-map circle {
  fill: #D8D8D8;
  fill-rule: nonzero;
  stroke: white;
  -webkit-animation: pulse-ring 3s infinite;
          animation: pulse-ring 3s infinite;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s; }
@-webkit-keyframes pulse-ring {
  0% {
    stroke-width: 2px;
    stroke-opacity: 0.1; }
  50% {
    stroke-width: 10px;
    stroke-opacity: 0.3; }
  100% {
    stroke-width: 2px;
    stroke-opacity: 0.1; } }
@keyframes pulse-ring {
  0% {
    stroke-width: 2px;
    stroke-opacity: 0.1; }
  50% {
    stroke-width: 10px;
    stroke-opacity: 0.3; }
  100% {
    stroke-width: 2px;
    stroke-opacity: 0.1; } }
.new-map circle:hover {
  fill: #fff; }
.new-map #Tees-Valley-Fill {
  fill: #71BE49;
  stroke-width: 10px;
  stroke: #71BE49;
  -webkit-animation: none;
          animation: none; }
.new-map .increase-surface {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
  pointer-events: none; }
.new-map .tooltip {
  opacity: 1; }



  /* new illustration */
.sectors-svg #Group {
  fill: #252545;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s; }
.sectors-svg .coloured {
  fill: #89CEDE;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s; }
.sectors-svg .hover:hover .coloured {
  fill: #747474; }
.sectors-svg .hover:hover #Group {
  fill: #fff; }
.sectors-svg .glow {
  fill: #fff;
  fill-rule: nonzero;
  stroke: #d1ebf1;
  -webkit-animation: pulse-ring 3s infinite;
          animation: pulse-ring 3s infinite;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s; }
@-webkit-keyframes pulse-ring {
  0% {
    stroke-width: 2px;
    stroke-opacity: 0.1; }
  50% {
    stroke-width: 12px;
    stroke-opacity: 0.7; }
  100% {
    stroke-width: 2px;
    stroke-opacity: 0.1; } }
@keyframes pulse-ring {
  0% {
    stroke-width: 2px;
    stroke-opacity: 0.1; }
  50% {
    stroke-width: 12px;
    stroke-opacity: 0.7; }
  100% {
    stroke-width: 2px;
    stroke-opacity: 0.1; } }
.sectors-svg .tooltip {
  opacity: 1; }
  
 .gravity-select-parent {
  width: 100% !important;
}
.page-template-add-new-job #main {
  min-height: 100vh;
}